{% extends "base.html" %}
{% block title %}Scrambler{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/scramble-display.js') }}" type="module"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scramble.css') }}">
</head>
<body>
    <h1 class="content">Here's your Scramble</h1>
    <div class="content">{{scramble}}</div>
    <p id="timer">00:00.00</p>
    <scramble-display class="scramble-display" scramble="{{scramble}}"></scramble-display>
    <p class="content"><a href="/">Back to the homepage</a></p>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
{% endblock %}